{% if block.position == 'left' %}
<div class="block">
    <div class="grid">
        <div class="row">
            <div class="col-6">
                <img class="cb-image" src="{{ block.image.first().getUrl() }}">
            </div>
            <div class="col-6">
                <div class="spacer text--intro">
                    {% if block.blockTitle|length %}
                        <h2>{{ block.blockTitle }}</h2>
                    {% endif %}
                    {{ block.text }}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="block">
    <div class="grid">
        <div class="row">
            <div class="col-6">
                <div class="spacer text--intro">
                    {% if block.blockTitle|length %}
                        <h2>{{ block.blockTitle }}</h2>
                    {% endif %}
                    {{ block.text }}
                </div>
            </div>
            <div class="col-6">
                <img class="cb-image" src="{{ block.image.first().getUrl() }}">
            </div>
        </div>
    </div>
</div>
{% endif %}